@import './common.rasi'

configuration {
    matching: "glob";
}

window {
    height: 0;
    width: 30%;
    location: south;
    y-offset: -10%;
}

entry {
    placeholder: "  Emoji";
}

listview {
    lines: 4;
    columns: 6;
    margin: 0 1.2em 1.2em 1.2em;
    fixed-columns: true;
}

element {
    border-radius: 0.3em;
}

element-text {
    font: "Inter Display 14";
    horizontal-align: 0.5;
    vertical-align: 0.5;
}
