/common/.config/nvim
/common/.config/tmux/plugins

/hyprwm/.config/gtk-3.0/*
!/hyprwm/.config/gtk-3.0/settings.ini

/hyprwm/.config/gtk-4.0/*
!/hyprwm/.config/gtk-4.0/settings.ini

/hyprwm/.config/fcitx5/conf/cached_layouts
