@import './color.css';

* {
    border: none;
    border-radius: 0;
    font-size: 0.78rem;
    font-family:
        Inter Display,
        JetBrainsMonoNL NFP Medium,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-weight: 600;
    animation: unset;
    transition: unset;
    color: @lavender;
}

window#waybar {
    background: transparent;
}

window#waybar > box {
    background-color: @crust;
    margin-top: 0.2rem;
    border-top: 1px solid @surface1;
    box-shadow: 0px 0px 0px 2px @crust;
    padding: 0;
}

#workspaces {
    margin-right: 0.6rem;
}

#workspaces button {
    padding: 0;
    border-top-right-radius: 0.3rem;
}

#workspaces button.empty label {
    opacity: 0.6;
}

#workspaces button.active,
#workspaces button:hover {
    background-color: @lavender;
}

#workspaces button.active label,
#workspaces button:hover label {
    color: @crust;
    opacity: 1;
}

#cpu,
#memory,
#disk,
#custom-updater {
    margin-right: 0.6rem;
}

#network.downspeed,
#network.upspeed {
    margin-right: 0.6rem;
}

#tray {
    margin-right: 0.4rem;
}

#tray image {
    margin-right: 0.4rem;
    min-height: 0.76rem;
}

#tray menu {
    border-radius: 0.3rem;
    background-color: @crust;
}

#tray menu menuitem {
    padding: 0.3rem;
    background-color: @crust;
}

#tray menu menuitem:hover {
    padding: 0.3rem;
    background-color: @base;
}

#microphone,
#speaker,
#network {
    margin-right: 0.4rem;
}

#bluetooth {
    margin-right: 0.8rem;
}

#battery {
    margin-right: 0.8rem;
}

#network:not(.upspeed):not(.downspeed).disconnected {
    opacity: 0.4;
}

#pulseaudio.input.source-muted,
#pulseaudio.input-icon.source-muted,
#pulseaudio.output.muted,
#pulseaudio.output-icon.muted {
    opacity: 0.4;
}

#clock {
    margin-right: 0.2rem;
}

#custom-notification {
    padding-right: 0.4rem;
}
